{% extends 'base.html' %}

{% block content %}
    <div class="section">
        <h4><i class="fa fa-user"></i><span class="title">About me</span></h4>
        <hr>
        <div class="summary">
            Hi, I'm Florent, I am a developer and a junior software architect.
            <br/>
            Since 2018, I have graduated from the University of Nice in architecture branch.
            I am working now for Amadeus SAS in Sophia-Antipolis in a DevOps team. I focus my efforts every days for better
            software designs and solutions.
            <br/>
            Please take a look on my portfolio, I list here my personal projects, my skills and experiences.
            <br/>
            Enjoy your visit :)
            <br/>
        </div>
    </div>

    <div class="section">
        <h4><i class="fa fa-briefcase"></i><span class="title">Experiences</span></h4>
        <hr>
        <div class="item">
            <h5 class="title">DevOps Architect</h5>
            <div class="location">Amadeus IT Group, Sophia-Antipolis (France)</div>
            <div class="time">2018 - Present</div>
            <div class="summary">
                <b>From October 2018 to April 2019 :</b><br/>
                Java backend developer and DevOps support for the self booking tool project of Amadeus.
                Working in a scrum team. While working on different features, I put in place tools in order
                to improve the dev environment:
                <ul>
                    <li>Develop container for build and deployment purpose</li>
                    <li>Develop CI/CD pipeline of the application</li>
                    <li>On demand deployment of external web services needed in the system</li>
                    <li>On demand deployment of a fake server to mock responses</li>
                </ul>
                <b>Since April 2019 :</b><br/>
                Member of the new DevOps team created for the self booking tool
                <ul>
                    <li>Containerization of every service</li>
                    <li>Develop CI/CD pipelines for every service</li>
                    <li>Optimization of CI/CD pipelines and optimization of docker containers</li>
                </ul>
                My mission is specifically to put in place the fallback solution of the system
                <ul>
                    <li>Introduce rules for db updates for backward compatibility matters</li>
                    <li>Studies about compatibilities between services and define best practices for external services development</li>
                    <li>Train the developers to the new approaches</li>
                    <li>Develop pipelines and ansible playbooks to orchestrate the fallback and re-deployment of all needed apps</li>
                </ul>
            </div>
        </div>

        <div class="item">
            <h5 class="title">.Net Web Developer/junior architect</h5>
            <div class="location">Andeol SAS, Sophia-Antipolis (France)</div>
            <div class="time">2016 - 2018</div>
            <div class="summary">
                <b>From September 2016 to January 2018 :</b><br/>
                On measure development of a Single Page Application based on cartography with Google Maps to create and manage
                territories for commercials. Then, compute stats about all of the territories, distance, number of customers visited, ...<br/>
                The backend is fully developed with a service oriented architecture, the client side using the framework vue.js with component segregation.<br/>
                Mission: 100% project responsibility from the conception of the architecture to the development.<br/>
                Usage constraint programming framework for generation of maps.<br/>
                <br/>
                <b>From January 2018 to September 2018 :</b><br/>
                <ul>
                    <li>Adapt the app architecture in order to integrate it into an application aggregator portal</li>
                    <li>Setup of CI/CD pipeline for the tool</li>
                    <li>Architecture conception and development of ETL processes for data migration with RabbitMQ for a medical tool</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="section">
        <h4><i class="fa fa-archive"></i><span class="title">Projects</span></h4>
        <hr>
        <div class="summary">
            Here are my different projects I worked on.
        </div>

        <div class="item">
            <h5 class="title"><a href="https://github.com/earendil06/Storm" target="_blank">Storm</a></h5>

            <div class="summary">
                Toolchain with the goal to help a Dungeon Master to run a D&D game.
                This is not yet another online role playing game tool,
                it is meant to be used for live pen and papers sessions.
                All dice rolls should be done IRL,
                the toolchain should only provide information on what to do but
                not do it for you.
                <br/>
                Please visit <a target="_blank" href='https://storm.florentpastor.com'>
                <b>https://storm.florentpastor.com</b></a> to play !!
            </div>

            <div class="item">
                <h5 class="title">
                    <a href="https://github.com/AnthonyFusco/SSL-al" target="_blank">Sensor Simulation Lab</a>
                </h5>
                <div class="summary">
                    The Gartner group's forecasts predict up to 26 billions of things that could be connected to
                    the Internet by 2020 forming the Internet of Things (IoT). This project is a DSL middleware
                    which allow us to make simulations of a lot of sensor networks and analyze them with
                    graphana.
                </div>
            </div>

            <div class="item">
                <h5 class="title">
                    <a href="https://github.com/earendil06/lab1-travel-agency-fusco-suignard-balde-pastor"
                       target="_blank">Travel Agency</a>
                </h5>
                <div class="summary">
                    Travel application made to retrieve flights, hotels and rental cars for a trip and submit
                    proposals of travels. Application developed by using microservices approach with Apache
                    Camel integration. REST/SOAP/RPC.
                </div>
            </div>

            <div class="item">
                <h5 class="title">
                    <a href="https://github.com/06tom06/AL" target="_blank">SmartCar</a>
                </h5>
                <div class="summary">
                    Application to simulate a smart car city where the traffic lights are optimized to change
                    for better traffic. Event driven design application with use of Spring and Apache Kafka.
                    Choco constraints solver for the business problem part.
                </div>
            </div>

            <div class="item">
                <h5 class="title">
                    <a href="http://lamentonnaise.fr" target="_blank">Mentonnaise charity website</a>
                </h5>
                <div class="summary">
                    The Mentonnaise is a charity of the law 1901 which performs benevolence activities and
                    support in performing arts.
                </div>
            </div>
        </div>

        <div class="section">
            <h4 class="title"><i class="fa fa-rocket"></i><span>Skills</span></h4>
            <hr>
            <ul class="list-unstyled">
                {% for item in skills %}
                    <li style="padding-top: 3px"> {{ item }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}